.row{
height: 385px;
}

    #imAnderson{
        background-color: red;
        width: 70%;
        text-align: center;
        padding-top: 6%;
    }

    #socialMedia {
        background-color: blue;
        width: 30%;
    }