.row{
height: 385px;
}

    #imAnderson{
        background-color: red;
        width: 70%;
        text-align: center;
        padding-top: 6%;
    }

    #socialMedia {
        background-color: blue;
            width: 29%; 
            height: 385px; 
            background: #5cb85c;
            border-radius: 200px 0 0 200px; 
       }
    