.row{
height: 385px;
}

    #imAnderson{
        color: #F5F1F1;
        background-color: #000C0E;
        height: 385px;
        width: 70%;
        text-align: center;
        padding-top: 2%;
        border-right: 50px solid #ffff;
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
    }

    #socialMedia {
            width: 29%; 
            height: 385px;
            position: relative;

       }
    .semi-Circulo{
        background-image: url(../../images/plane.jpg);
        background-size: cover;
        background-position: center;
        height: 222px;
        width: 120px;
        -webkit-border-radius: 200px 0 0 200px;
        position: absolute;
        right: 0px;
        bottom: 80px;
    }
             .circulogit{
                width: 100px;
                height: 100px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                position: absolute;
                top: 10px;
                right: 80px;
                background-image: url(../../images/image-git.png);
                background-size: cover;
             }

             .circuloinst{
                width: 100px;
                height: 100px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                position: absolute;
                top: 100px;
                right: 150px;
                background-image: url(../../images/image-insta.png);
                background-size: cover;
             }
             .circuloface{
                width: 100px;
                height: 100px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                position: absolute;
                bottom: 76px;
                right: 150px;
                background-image: url(../../images/image-face.png);
                background-size: cover;
             }

             .circulomail{
                width: 100px;
                height: 100px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                position: absolute;
                bottom: 6px;
                right: 70px;
                background-image: url(../../images/image-mail.png);
                background-size: cover;
             }