.containerContacto{
 background-color: rgba(0, 12, 14, 0.8);
 margin: 30px auto;
 width: 40%;
 color: white;
}
h1 {
    color: white;
}


.circulogit1{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    top: 10px;
    right: 80px;
    background-image: url(../../images/image-git.png);
    background-size: cover;
 }

 .circuloinst1{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    top: 100px;
    right: 150px;
    background-image: url(../../images/image-insta.png);
    background-size: cover;
 }
 .circuloface1{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    bottom: 76px;
    right: 150px;
    background-image: url(../../images/image-face.png);
    background-size: cover;
 }

 .circulomail1{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    bottom: 6px;
    right: 70px;
    background-image: url(../../images/image-mail.png);
    background-size: cover;
 }