.maincontain{
height: 385px;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
position: relative;
}
.title {
   background-color: rgba(0, 12, 14, 0.4);
   width: 80%;
   height: 200px;
   right: 20px;
   text-align: center;
   position: relative;
   top: 30px;
   padding:25px;

}
                        .myName {
                           color: white;
                           opacity: none;
                           justify-content: center;
                           text-align: center;
                        }

    #imAnderson{
        color: #F5F1F1;
        height: 385px;
        width: 70%;
        text-align: center;
        display: flex;
        padding: 8px;
        justify-content: center;}