
.firstContain {
    width: 100%;
    display: flex;
}
#socialMedia {
    position: absolute;
    top: 50px;
    right: 0px;
}

.marcoFoto {
    width: 301px;
    height: 365px;
    border-radius: 155px;
    background-color: rgba(0, 12, 14, 0.7);
    display: flex;
    margin: 20px;
    margin-left:8%;
}
                .photoMe{
                    background-image: url(../../images/base01.png);
                    background-position:center;
                    background-size: cover;
                    width: 237px;
                    height: 286px;
                    border-radius: 155px;
                    margin: 0px auto;
                    position: relative;
                    top: 35px;
                }

.myBio{
    padding-top: 30px;
    width: 401px;
    height: 465px;
}
.text-center{
    color: #F5F1F1;
}

        .container-About{
            display: flex;
            justify-content: space-around;
            padding: 15px;
            position: relative;
        }
            .hojadeVida{
                background-color: rgba(0, 12, 14, 0.7);
                height: 460px;
                 width: 30%;
                 text-align: center;

                }
                            .imagcv{
                                background-image: url(../../images/0001.jpg);
                                width: 349px;
                                height: 385px;
                                background-position: center;
                                background-size: cover;
                                margin: 0px auto;
                                margin-top: 30px;

                            }
                                        h3{
                                            color: white;
                                        }

            .projects{
                background-color: rgba(0, 12, 14, 0.7);
                 height: 460px;
                width: 30%;
                position: relative;
                text-align: center;
                }
                .imagpj{
                background-image: url(../../images/002.jpg);
                width: 349px;
                height: 385px;
                background-position: center;
                background-size: cover;
                margin: 0px auto;
                margin-top: 30px;
                }